build
.gradle

bin
.env

target/
project/target/
.idea/
.vscode/
*.iml
*.log

# SBT
dist/
lib_managed/
src_managed/
.cache/

metals.lock.db
metals.mv.db
.metals
.scala-build

ZADANIE5/backend/controllers/echo.db
ZADANIE5/backend/echo.db
ZADANIE5/frontend/README.md